@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  min-height: 100vh;
  background-color: $body-bg;
}

a {
  text-decoration: none;
}

main {
  display: block;
  columns: 18rem;
  gap: 2rem;
}
figure {
  break-inside: avoid;
  transition-duration: 500ms;
}

* {
  box-sizing: border-box;
}
body {
  font-family: avenir, roboto, helvetica, sans-serif;
  margin: 2rem calc(2vw + 2rem);
}
main {
  margin: 2rem 0;
}
img {
  width: 100%;
  display: block;
  border-radius: 1rem 1rem 1rem 1rem;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

figure {
  animation: 3s ease-out 0s 1 slideInFromTop;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.345);
}
